[Unit]
Description=nginx - high performance web server  
After=network.target remote-fs.target nss-lookup.target  
[Service]
Type=forking  
ExecStart=/usr/local/Nginx/sbin/nginx -c /usr/local/Nginx/conf/nginx.conf  
ExecReload=/usr/local/Nginx/sbin/nginx -s reload  
ExecStop=/usr/local/Nginx/sbin/nginx -s stop

[Install]
WantedBy=multi-user.target 
